# OS
.DS_Store

# Dependencies
emsdk/
glm/
node_modules/

# CMake build artifacts
pymol-open-source/CMakeCache.txt
pymol-open-source/CMakeFiles/
pymol-open-source/Makefile
pymol-open-source/cmake_install.cmake

# WASM build output
pymol-open-source/pymol_wasm.js
pymol-open-source/pymol_wasm.wasm
